# Python cache
__pycache__/
*.pyc
*/__pycache__/

# Virtual Environment
venv/
.venv/
env/

# Data & Models
data/dataset.jsonl
models/
output/

# Frontend
node_modules/
dist/

# Test Artifacts
.pytest_cache/
tests/__pycache__/
